blinker==1.7.0
click==8.1.6
colorama==0.4.6
cryptography==41.0.7
dbus-python==1.3.2
distro==1.9.0
easybuild==5.3.1
easybuild-easyblocks==5.3.1
easybuild-easyconfigs==5.3.1
easybuild-framework==5.3.1
gyp==0.1
httplib2==0.20.4
launchpadlib==1.11.0
lazr.restfulclient==0.14.6
lazr.uri==1.0.6
Mako==1.3.2.dev0
Markdown==3.5.2
MarkupSafe==2.1.5
oauthlib==3.2.2
packaging==24.0
ply==3.11
PyGObject==3.48.2
PyJWT==2.7.0
pyparsing==3.1.1
python-apt==2.7.7+ubuntu5.2
setuptools==68.1.2
six==1.16.0
ubuntu-drivers-common==0.0.0
wadllib==1.3.6
wheel==0.42.0
xkit==0.0.0
xonsh==0.14.4
